/*- Importing Fonts Start -----------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

@font-face {
  font-family: 'OriginTech';
  src: url('/fonts/Origin-Tech.ttf')  format('truetype');
}
/*------------------------------------------------------------------- Importing Fonts End -*/


*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
	font-family: 'Prompt', sans-serif;
}


html, body{
	scroll-behavior: smooth;
	background-color: #dcdcdc;
	color: #202020;
	position: relative;
}


/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #ababab;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #8f8f8f;
}
*::-webkit-scrollbar-thumb:active {
	background-color: #7a7a7a;
}


/*- header Start --------------------------------------------------------------------------*/
.header{
	height: 90vh;
	background-image: linear-gradient(#ffffff80, #ffffff80), url('https://i.postimg.cc/6q4pZ5pv/header.webp');
  background-size: cover;
	text-align: center;
}

.header-txt{
	margin-top: 23vh;
	font-weight: bold;
}

.header-txt h1{
	font-family: 'OriginTech', sans-serif;
	font-size: 150px;
}

.header-txt h2{
	font-size: 40px;
}
/*- Navigation Menu Start ---------------------------------------------*/
nav{
	top: 0;
  left: 0;
  display: flex;
  padding: 2% 2%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #000;
  text-decoration: none;
  font-size: 16px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #1f59ec;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}

.hamburger-menu{
	display: none;
}
/*----------------------------------------------- Navigation Menu End -*/
/*---------------------------------------------------------------------------- header End -*/


/*- deals Start ---------------------------------------------------------------------------*/
.deals{
	padding: 10px 20px;
	text-align: center;
	background: #dcdcdc;
	color: #000;
}
.deals h1{
	font-weight: bold;
	margin: 1% 0px -1% 0%;
}
/*----------------------------------------------------------------------------- deals End -*/


/*- top-cat Start -------------------------------------------------------------------------*/
.top-cat{
	text-align: center;
	padding: 15px 20px 40px 20px;
	color: #000;
}
.top-cat h1{
	margin: 10px 0px 10px 0px;
}

.cat-items{
	display: flex;
  justify-content: center;
  align-items: center;
}

.cat-card{
	display: flex;
	text-align: center;
	align-items: center;
  justify-content: center;
	margin: 10px 15px;
	height: 350px;
	width: 255px;
	border-radius: 15px;
	color: #000;
	background-color: #fff;
	transition: 0.3s;
}
.cat-card:hover{
	scale: 1.02;
	box-shadow: 0 0 2px #424242, 0 0 15px #424242;
	transition: 0.3s;
}


.cat-card button{
	margin: 5px 5px 10px 5px;
	padding: 5px 10px;
	font-weight: bold;
	color: #fff;
	background: #000;
	border: 2px solid #000;
	border-radius: 15px;
	cursor: pointer;
	transition: 0.5s;
}
.cat-card button:hover{
	color: #fff;
	background: #1f59ec;
	border: 2px solid #1f59ec;
	transition: 0.5s;
}

.cat-card img{
	width: 225px;
	height: 245px;
	border: 3px solid #000;
	border-radius: 10px 10px 0px 0px;
	object-fit: cover;
}

.cat-card-content{
	padding: 10px;
}
/*--------------------------------------------------------------------------- top-cat End -*/


/*- newsletter Start ----------------------------------------------------------------------*/
.newsletter{
	padding: 25px 0px;
	text-align: center;
	height: 25vh;
	background: #1d293c;
	display: flex;
  justify-content: center;
  align-items: center;
}

.form-box p{
	font-size: 20px;
	margin: 0px 0px 20px 0px;
	color: #fff;
}
.form-box input{
	width: 70%;
	padding: 15px 20px 15px 20px;
	background: #f5f5f5;
	border: 1px solid #fff;
	border-radius: 20px 0px 0px 20px;
	outline: none;
}
.form-box input:focus{
	background: #fff;
	border: 1px solid #1f59ec;
}
.form-box button{
	font-weight: bold;
	background: #000;
	color: #fff;
	margin: 0px 0px 0px -6px;
	padding: 15px 20px 15px 20px;
	border: 1px solid #000;
	border-radius: 0px 20px 20px 0px;
	cursor: pointer;
	transition: 0.5s;
}
.form-box button:hover{
	background: #1f59ec;
	color: #fff;
	border: 1px solid #1f59ec;
	transition: 0.5s;
}
/*------------------------------------------------------------------------ newsletter End -*/


/*- footer Start --------------------------------------------------------------------------*/
.footer{
	text-align: center;
	padding: 15px;
	color: #fff;
	background: #141414;
}
/*---------------------------------------------------------------------------- footer End -*/


/*- scroll-container Start ----------------------------------------------------------------*/
.scroll-container {
	margin-right: 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
	z-index: 140;
}
.scroll-container:before {
  content: '';
  display: block;
  height: 100vh;
  pointer-events: none;
}
.scroll-container a {
  position: sticky;
  top: 95vh;
  cursor: pointer;
  font-size: 20px;
}
.scroll-container i {
	text-shadow: 0 0 5px #9c9c9c;
	font-size: 40px;
	color: #fff;
}
/*------------------------------------------------------------------ scroll-container End -*/


/*- iframe Start --------------------------------------------------------------------------*/
.iframe{
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

iframe{
	height: 100%;
	width: 100%;
}
/*---------------------------------------------------------------------------- iframe End -*/




@media (prefers-color-scheme: dark) {
  body {
    background: #272727;
    color: #f0f0f0;
  }

	.header {
    background-image: linear-gradient(#454545A6, #454545A6), url('https://i.postimg.cc/6q4pZ5pv/header.webp');
	}
	.header-txt {
    color: #f0f0f0;
	}
	.nav-links ul li a{
		color: #f0f0f0;
	}
	.nav-links ul li::after{
		background: #f0f0f0;
	}

	.deals {
    background: #272727;
    color: #f0f0f0;
	}
	.top-cat {
    background: #272727;
    color: #f0f0f0;
	}
	.cat-card {
    color: #fff;
    background-color: #464646;
	}

}



/*- Mobile Compatibility Start ------------------------------------------------------------*/
@media screen and (max-width: 912px) {
	
	h1{
		font-size: 25px;
	}
	
	.desk-menu{
		display: none;
	}

	/*- Hamburger Menu Start --------------------------------------------*/
	.hamburger-menu {
  	position: sticky;
  	display: block;
  	z-index: 200;
  	text-align: left;
	}
	#menuToggle{
		width: fit-content;
		display: block;
		position: relative;
		top: 40px;
		left: 30px;
		z-index: 1;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	#menuToggle a{
		text-decoration: none;
		color: #232323;
		transition: color 0.3s ease;
	}
	#menuToggle a:hover{
		color: #1f59ec;
	}
	#menuToggle input{
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}
	#menuToggle span{
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: #000000;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
	}
	#menuToggle span:first-child{
		transform-origin: 0% 0%;
	}
	#menuToggle span:nth-last-child(2){
		transform-origin: 0% 100%;
	}
	#menuToggle input:checked ~ span{
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #232323;
	}
	#menuToggle input:checked ~ span:nth-last-child(3){
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2){
		transform: rotate(-45deg) translate(0, -1px);
	}
	#menu{
		position: absolute;
		height: 120vh;
		width: 412px;
		margin: -85px 0 0 -49px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	#menu li{
		padding: 10px 0;
		font-size: 22px;
	}
	#menuToggle input:checked ~ ul{
		transform: none;
	}
	/*---------------------------------------------- Hamburger Menu End -*/
	
	.header{
		height: 30vh;
	}
	.header-txt{
		margin-top: 7vh;
		font-weight: bold;
	}
	.header .header-txt h1{
  	font-size: calc(10vw + 5px);
	}
	.header .header-txt h2{
  	font-size: calc(3vw + 5px);
	}
	.sub-header{
		height: 30vh;
	}
	.sub-header h1{
		margin-top: 5vh;
  	font-size: calc(10vw + 5px);
	}
	
	.top-cat{
		height: 20%;
		padding: 0px 0px;
	}
	
	.cat-items{
		display: block;
		width: 100%;
		height: 30%;
		white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; 
		padding: 5px 0px;
	}
	.cat-card img{
    height: 175px;
		width: 175px;
	}
	.cat-card{
    float: none;
    display: inline-block;
		height: auto;
		width: auto;
	}
	.cat-card button{
		font-size: 12px;
	}

	.newsletter{
		height: 20vh;
	}
	.form-box p{
		font-size: 15px;
	}
	.form-box input{
		padding: 10px 10px 10px 10px;
	}
	.form-box button{
		margin: 0px 0px 0px -6px;
		padding: 10px 10px 10px 10px;
		border-radius: 0px 20px 20px 0px;
	}

}
/*-------------------------------------------------------------- Mobile Compatibility End -*/